body{
  background-color: #000921;
}

.signin{
  display:flex;
  margin-top:240px;
  margin-left: 120px;
  height:225px;
  width:503px; 
  align-items:center;
  flex-direction: column; /* Stack the elements vertically */
}
.bs
{
  display:flex;
  margin-top: 10px;
}
.b1{
  height:30px;
  width:150px;
  border-radius:5px;
  border-width:1px;
  border-color:white;
  color:white;
  text-align: center;
  background-color:#000921;
  margin-left: 10px;
}

.b1:hover{
  background-color:#1fc6dc;
  color:black;
  cursor:pointer;
  border-color:black;
}

.trade
{
  display:flex;
  margin-top:101px;
  margin-left: 200px;
  height:225px;
  width:503px;
  align-items:center;
  flex-direction:row;
  max-width: 100%;
}
.img-container{
display:flex;
height:900px;
width:1500px;

}

img{
  

}